<mat-toolbar color="primary" class="navbar">
  <div class="mat-headline-5"> GARIMAX </div>
  <mat-form-field appearance="fill" class="full-width">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput  (keyup)="allcars.applyFilter($event)" placeholder="Search" #input>
    <button mat-icon-button matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div *ngIf="!signin">
    <span class="mat-body-2" routerLinkActive="active"><a class="signin" routerLink="/userlogin"> Sign in or register </a></span>
    <!-- <span class="mat-body-2" routerLinkActive="active"><a routerLink="/vendorlogin">Sell Car</a></span> -->
    <button mat-button [matMenuTriggerFor]="menu">Sell Car</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLinkActive="active"><a  class="mat-body-2" routerLink="/vendorsignup">Sign up</a></button>
      <button mat-menu-item routerLinkActive="active"><a  class="mat-body-2" routerLink="/vendorlogin">Sign in</a></button>
    </mat-menu>
  </div>
  <div  *ngIf="signin">
    <span  class="mat-body-2">{{ds.user?.firstName}} {{ds.user?.lastName}}</span>
    <span class="mat-body-2" routerLinkActive="active"><a routerLink="/"> <mat-icon (click)="signOut()">logout</mat-icon></a></span>
  </div>
</mat-toolbar>
<tr class="mat-row" *matNoDataRow>
  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
</tr>
