<app-header></app-header>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1
<!-- <label> Make </label><br>
<label> Model </label>
<label> Location </label>
<label> Year of manufacture </label>
<label> Price </label>
<label> Vehicle Type </label>
<label> Verified </label>
<label> Color </label>
<label> Foreign used </label>
<label> Gear </label>
<label> Mileage </label>
<label> Condition </label>
<label> Engine Size </label>
<label> Engine Power </label>
<label> Acceleration </label>
<label> Drive Train </label>
<label> Doors </label>
<label> Seats </label>
<label> Boot Space </label>
<label> Fuel Consumption </label>
<label>Accessibility</label>
<p>Wheelchair accessible vehicles(WAV)</p> -->
</mat-grid-tile>
<mat-grid-tile>2</mat-grid-tile>
</mat-grid-list>
