<app-header></app-header>
<mat-grid-list  cols="11" rowHeight="1900" gutterSize="10px">
  <mat-grid-tile class="properties" colspan="3">
    <app-carproperties></app-carproperties>
</mat-grid-tile>
<mat-divider></mat-divider>
<mat-grid-tile class="all" colspan="8" *ngIf="fetched">
  <app-allcars></app-allcars>
 </mat-grid-tile>
</mat-grid-list>
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>
<app-footer></app-footer>
