<app-header></app-header>
<!-- <mat-grid-list  cols="11" rowHeight="1900" gutterSize="10px" [scrollLeft]="true">
  <mat-grid-tile class="properties" colspan="3">
    <app-carproperties></app-carproperties>
</mat-grid-tile>
<mat-divider></mat-divider>
<mat-grid-tile class="all" colspan="8" *ngIf="fetched">
  <app-allcars></app-allcars>
 </mat-grid-tile>
</mat-grid-list>
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator> -->
<div class="row">
  <div class="col-3 sm-3 md-3 lg-3 xl-3 ">
    <app-carproperties></app-carproperties>
  </div>
  <div class="col-8 sm-8 md-8 lg-8 xl-8 ">
    <app-allcars></app-allcars>
  </div>
</div>
<!-- <app-footer></app-footer> -->
