<mat-tab-group animationDuration="0ms">
  <mat-tab label="Sign In">
  </mat-tab>
  <mat-tab label="Sign Up">
    <form class="signup-form" [formGroup]="loginForm" >
      <table class="signup-full-width" cellspacing="0"><tr>
        <td><mat-form-field appearance="outline" class="signup-full-width">
        <mat-label>First name</mat-label>
        <input matInput required formControlName="firstName" type="text">
        <mat-error *ngIf="loginForm.get('firstName')?.errors?.['required']">
         First name required
       </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="signup-full-width">
        <mat-label>Last name</mat-label>
        <input matInput required type="text" formControlName="lastName" >
        <mat-error *ngIf="loginForm.get('lastName')?.errors?.['required']">
           Last name required
        </mat-error>
      </mat-form-field>
    </td>
  </tr></table>
      <mat-form-field appearance="outline" class="signup-full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email"  placeholder="name@example.com"  [formControl]="loginFormControl">
        <mat-error *ngIf="loginFormControl.hasError('email') && !loginFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="signup-full-width">
        <mat-label>Mobile number</mat-label>
        <input matInput type="number" formControlName="phoneNumber" maxlength="12" required>
        <mat-error *ngIf="loginForm.get('phoneNumber')?.errors?.['required']">
         Phone Number required
       </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="signup-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password"  formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
          Password required
       </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="signup-full-width">
        <mat-label>Re-enter Password</mat-label>
        <input matInput type="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit" (click)="signIn()">Login</button>

    </form> </mat-tab>
</mat-tab-group>
