  <form  [formGroup]="loginForm" (ngSubmit)="login(user.email,user.password)">
  <mat-form-field appearance="outline" class="signup-full-width">
    <mat-label>Email</mat-label>
    <input matInput type="email"  placeholder="name@example.com" formControlName="email" [(ngModel)]="user.email">
    <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">
      Email required
   </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="signup-full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password"  formControlName="password"  [(ngModel)]="user.password" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
      Password required
   </mat-error>
  </mat-form-field>
  <button mat-flat-button color="primary" type="submit">Login</button>
</form>
