td {
  padding-right: 8px;
}
.signup-full-width{
  width: 100%;

}
.signup-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
mat-tab-group{
  align-items: center;
  padding: 100px;
}
.mat-rounded{
  min-width: 150px;
  max-width: 500px;
  padding: 20px;
  margin: 5px;
}
